{% extends "main.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div style="height: 100vh;">
    <div class="columns is-align-items-center" style="height: 100%; margin-top: 0; margin-right: 0;">
        <div class="column is-4 is-offset-4">
            <form method="POST">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Change Password</p>

                        {% if msg_error %}
                        <article class="message is-danger">
                            <div class="message-body">
                                {{ msg_error }}
                            </div>
                        </article>
                        {% endif %}

                        <div class="field">
                            <label for="old-password" class="label">Old Password</label>
                            <div class="control"><input type="password" class="input" name="old-password"/></div>
                        </div>

                        <div class="field">
                            <label for="new-password" class="label">New Password</label>
                            <div class="control"><input type="password" class="input" name="new-password"/></div>
                        </div>

                        <div class="field">
                            <label for="confirm-new-password" class="label">Confirm New Password</label>
                            <div class="control"><input type="password" class="input" name="confirm-new-password"/></div>
                        </div>

                        <div class="flex is-flex-direction-column is-align-items-stretch">
                            <button type="submit" class="button is-primary" style="margin-bottom: 1rem;">Change</button>
                            <button type="submit" value="cancel" name="act" class="button is-danger is-inverted" style="margin-bottom: 1rem;">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}