{% extends "main.html" %}
{% block title %}Login{% endblock %}
{% block content %}
<div style="height: 100vh;">
    <div class="columns is-align-items-center" style="height: 100%; margin-top: 0; margin-right: 0;">
        <div class="column is-4 is-offset-4">
            <form method="POST">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Member Area Login</p>

                        {% if msg_error %}
                        <article class="message is-danger">
                            <div class="message-body">
                                {{ msg_error }}
                            </div>
                        </article>
                        {% endif %}

                        {% if msg_success %}
                        <article class="message is-success">
                            <div class="message-body">
                                {{ msg_success }}
                            </div>
                        </article>
                        {% endif %}

                        {% if msg_warning %}
                        <article class="message is-warning">
                            <div class="message-body">
                                {% autoescape false %}
                                {{ msg_warning }}
                                {% endautoescape %}
                            </div>
                        </article>
                        {% endif %}

                        <div class="field">
                            <label for="email" class="label">E-mail</label>
                            <div class="control"><input type="text" class="input" name="email" value="{{ request.form['email'] }}"></div>
                        </div>

                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <div class="control"><input type="password" class="input" name="password"></div>
                            <a href="#">Forgot Password?</a>
                        </div>

                        <div class="flex is-flex-direction-column is-align-items-stretch">
                            <button type="submit" class="button is-primary" style="margin-bottom: 1rem;">Login</button>
                            <span class="text-center">
                                New here? <a href="/signup">Sign up!</a>
                            </span>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<script>
    function forceLogout() {
        document.querySelector("form").setAttribute("action", "/force-logout");
        document.querySelector("form").submit(); 
    }
</script>
{% endblock %}