{% extends "main.html" %}
{% block title %}Sign Up{% endblock %}
{% block content %}
<div style="height: 100vh;">
    <div class="columns is-align-items-center" style="height: 100%; margin-top: 0; margin-right: 0;">
        <div class="column is-4 is-offset-4">
            <form method="POST" action="/signup">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Sign Up</p>

                        {% if msg_errors %}
                        <article class="message is-danger">
                            <div class="message-body">
                                User creation failed, found some errors in form inputs.
                                <ul>
                                    {% for msg in msg_errors %}
                                    <li>{{ msg }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </article>
                        {% endif %}

                        <div class="field">
                            <label for="email" class="label">E-mail</label>
                            <div class="control"><input type="text" class="input" name="email"></div>
                        </div>

                        <div class="field">
                            <label for="password" class="label">Password</label>
                            <div class="control"><input type="password" class="input" name="password"></div>
                        </div>

                        <div class="field">
                            <label for="confirm-password" class="label">Confirm Password</label>
                            <div class="control"><input type="password" class="input" name="confirm-password"></div>
                        </div>

                        <div class="flex is-flex-direction-column is-align-items-stretch">
                            <button type="submit" class="button is-primary" style="margin-bottom: 1rem;">Sign Up</button>
                            <button type="submit" class="button is-danger is-inverted" style="margin-bottom: 1rem;">Cancel</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}