{% extends "main.html" %}
{% block title %}Welcome{% endblock %}
{% block content %}
<div style="height: 100vh;">
    <div class="columns is-align-items-center" style="height: 100%; margin-top: 0; margin-right: 0;">
        <div class="column is-4 is-offset-4">
            <form method="POST">
                <div class="card">
                    <div class="card-content">
                        <p class="title">Welcome the Auth System</p>

                        {% if msg_success %}
                        <article class="message is-success">
                            <div class="message-body">
                                {{ msg_success }}
                            </div>
                        </article>
                        {% endif %}

                        <p>
                            Here you can do some actions:
                        </p>

                        <div class="flex is-align-items-stretch is-flex-direction-column" style="height: 160px; justify-content: space-evenly;">
                            <button type="submit" class="button is-primary" formaction="change-password" formmethod="GET">Change Password</button>
                            <button type="submit" class="button is-primary" formaction="logout" formmethod="POST">Log Out</button>
                            <button type="submit" class="button is-danger" formaction="delete" formmethod="POST">Delete account</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}